Repository SIB-rennes/DataEtatBretagne-Front: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build angular financial data app, build angular francerelance app, docker-image-financial, docker-image-francerelance, deploy-integ-financial-snapshot, deploy-integ-francerelance-snapshot, run-tests-e2e

build angular financial data app:
  image: node:16
  stage: build-angular
  script:
  - npm ci --cache ${CI_PROJECT_DIR}/.npm --prefer-offline --quiet --force
  - npm run lint
  - npm run build:financial-data
  cache:
    key: ${CI_PROJECT_ID}-npm
    paths:
    - ${CI_PROJECT_DIR}/.npm/
  artifacts:
    expire_in: 15 mins
    paths:
    - dist/

build angular francerelance app:
  image: node:16
  stage: build-angular
  script:
  - npm ci --cache ${CI_PROJECT_DIR}/.npm --prefer-offline --quiet --force
  - npm run lint
  - npm run build:france-relance
  cache:
    key: ${CI_PROJECT_ID}-npm
    paths:
    - ${CI_PROJECT_DIR}/.npm/
  artifacts:
    expire_in: 15 mins
    paths:
    - dist/

docker-image-financial:
  image: docker:stable-dind
  stage: üî® docker-build
  variables:
    IMAGE: ${REGISTRY}nocode/financial-data
    DOCKERFILE: apps/financial-data/Dockerfile
  script:
  - echo $IMAGE
  - echo $CI_COMMIT_TAG
  ...

docker-image-francerelance:
  image: docker:stable-dind
  stage: üî® docker-build
  variables:
    IMAGE: ${REGISTRY}nocode/france-relance
    DOCKERFILE: apps/france-relance/Dockerfile
  script:
  - echo $IMAGE
  - echo $CI_COMMIT_TAG
  ...

deploy-integ-financial-snapshot:
  stage: üê£ deploy
  variables:
    COMPOSE: ~/stack-nocode/compose/integ/front-financial.yml
    SERVICE: financial-data
  script:
  - echo ${VERSION}
  - ssh ${USER_INTEG}@${SERVER_INTEG} "docker network create -d overlay --attachable app_network || true"
  ...

deploy-integ-francerelance-snapshot:
  stage: üê£ deploy
  variables:
    COMPOSE: ~/stack-nocode/compose/integ/front-france-relance.yml
    SERVICE: france-relance
  script:
  - echo ${VERSION}
  - ssh ${USER_INTEG}@${SERVER_INTEG} "docker network create -d overlay --attachable app_network || true"
  ...

run-tests-e2e:
  stage: test-e2e
  image: mcr.microsoft.com/playwright:v1.29.2-focal
  script:
  - cd e2e/
  - npm ci
  - export TEST_USERNAME=${TEST_USERNAME}
  - export TEST_PASSWORD=${TEST_PASSWORD}
  - export TEST_USERNAME_ADMIN=${TEST_USERNAME_ADMIN}
  - export TEST_PASSWORD_ADMIN=${TEST_PASSWORD_ADMIN}
  - npx playwright test
  ...

[FEAT] beneficiaires pour la marque blanche
  apps/common-lib/src/lib/resolvers/marqueblanche/common-handlers.ts
  apps/common-lib/src/lib/services/interface-data.service.ts
  apps/financial-data/README.md
  apps/financial-data/src/app/components/search-data/additional-searchparams.ts
  apps/financial-data/src/app/components/search-data/search-data.component.html
  apps/financial-data/src/app/components/search-data/search-data.component.ts
  apps/financial-data/src/app/models/marqueblanche/query-params.enum.ts
  apps/financial-data/src/app/models/search/prefilters.model.ts
  apps/financial-data/src/app/resolvers/marqueblanche-parsed-params.resolver.ts
  apps/financial-data/src/app/services/http/ademe-data-http.service.ts
  apps/financial-data/src/app/services/http/financial-data-http.service.ts
  e2e/tests/financial-data/marqueblanche.spec.ts
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[CHORE] remove .vscode/launch.json from git control
  .vscode/launch.json
Due: none

[CHORE] ignore toutes les configurations vscode
  .gitignore
Due: none

[CHORE] upgrade storybook
  package-lock.json
  package.json
Due: none

[CHORE] Upgrade typescript
  package-lock.json
  package.json
Due: none

[CHORE] Update angular schematics
  .eslintrc.json
  apps/common-lib/src/lib/guards/auth-guard.service.ts
  apps/common-lib/src/stories/.eslintrc.json
  apps/financial-data/src/.eslintrc.json
  apps/financial-data/src/app/resolvers/management/users.resolver.ts
  apps/france-relance/.eslintrc.json
  apps/france-relance/src/app/resolvers/france-relance.resolvers.ts
  apps/france-relance/src/app/resolvers/management/users.resolver.ts
  apps/grouping-table/.eslintrc.json
  package-lock.json
  package.json
Due: build angular financial data app, build angular francerelance app, docker-image-financial, docker-image-francerelance, deploy-integ-financial-snapshot, deploy-integ-francerelance-snapshot

[CHORE] update apollo angular
  package-lock.json
  package.json
Due: none

[CHORE] Update angular material, cdk angular keycloak
  package-lock.json
Due: none

[CHORE] upgrade to angular material 16
  package-lock.json
  package.json
Due: none

[CHORE] upgrade angular-keycloak
  package-lock.json
  package.json
Due: none

[CHORE] npm update
  package-lock.json
Due: none

[CHORE] npm install
  package-lock.json
Due: none

[CHORE] Post migration refactoring
  apps/common-lib/src/lib/guards/auth-guard.service.ts
  apps/financial-data/src/app/app-routing.module.ts
  apps/financial-data/src/app/modules/administration/administration-routing.module.ts
  apps/financial-data/src/app/resolvers/management/users.resolver.ts
  apps/france-relance/src/app/app-routing.module.ts
  apps/france-relance/src/app/resolvers/france-relance.resolvers.ts
  apps/france-relance/src/app/resolvers/management/users.resolver.ts
Due: build angular financial data app, build angular francerelance app, docker-image-financial, docker-image-francerelance, deploy-integ-financial-snapshot, deploy-integ-francerelance-snapshot

[FEAT] Authentification keycloak: monoregion et multiregion
  apps/common-lib/src/lib/environments/mutli-region.mapper.service.ts
  apps/common-lib/src/lib/environments/settings.http.service.ts
  apps/common-lib/src/lib/environments/settings.ts
  apps/common-lib/src/lib/utilities/assert.function.ts
Due: none

[CHORE] update .gitignore
  .gitignore
Due: none

[FEAT] Update settings_template.json
  apps/financial-data/src/assets/settings_template.json
  apps/france-relance/src/assets/settings_template.json
Due: build angular financial data app, build angular francerelance app, docker-image-financial, docker-image-francerelance, deploy-integ-financial-snapshot, deploy-integ-francerelance-snapshot

[FEAT] Gestion des roles insensibles à la casse.
  apps/common-lib/src/lib/guards/auth-guard.service.ts
  apps/common-lib/src/lib/services/auth-utils.service.ts
  apps/common-lib/src/lib/services/session.service.ts
Due: none

[FEAT] Ajout chargement du fichier calculette
  apps/financial-data/src/app/app.component.html
  apps/financial-data/src/app/modules/administration/administration-routing.module.ts
  apps/financial-data/src/app/modules/administration/administration.module.ts
  apps/financial-data/src/app/modules/administration/upload-financial/upload-financial.component.html
  apps/financial-data/src/app/modules/administration/upload-financial/upload-financial.component.scss
  apps/financial-data/src/app/modules/administration/upload-financial/upload-financial.component.ts
  apps/financial-data/src/app/services/http/financial-data-http.service.ts
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[TEST] modification url budget en bretagne
  e2e/playwright.config.ts
Due: none

[FIX] Fix orthographe
  apps/financial-data/src/app/modules/administration/upload-financial/upload-financial.component.html
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[FIX] Fix orthographes
  apps/financial-data/src/app/modules/administration/upload-financial/upload-financial.component.html
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[FEAT] Lien vers la documentation github dans le footer
  apps/common-lib/src/lib/components/footer/footer.component.html
  apps/common-lib/src/lib/components/footer/footer.component.scss
  apps/common-lib/src/lib/components/footer/footer.component.ts
  apps/common-lib/src/lib/environments/settings.ts
  apps/financial-data/src/app/app.component.html
  apps/france-relance/src/app/app.component.html
  apps/shared-assets/img/github-mark.png
Due: build angular financial data app, build angular francerelance app, docker-image-financial, docker-image-francerelance, deploy-integ-financial-snapshot, deploy-integ-francerelance-snapshot

Update README.md
  apps/financial-data/README.md
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[HOTFIX] refacto DS et ajout dans page full
  apps/financial-data/src/app/modules/informations-supplementaires/detail-api-data-subventions/detail-api-data-subventions.component.ts
  apps/financial-data/src/app/modules/informations-supplementaires/detail-api-demarche-simplifie/detail-api-demarche-simplifie.component.ts
  apps/financial-data/src/app/modules/informations-supplementaires/detail-api-entreprise/detail-api-entreprise.component.ts
  apps/financial-data/src/app/modules/informations-supplementaires/informations-supplementaires.component.html
  apps/financial-data/src/app/modules/informations-supplementaires/informations-supplementaires.component.ts
  apps/financial-data/src/app/modules/informations-supplementaires/services/informations-supplementaires.dsviewservice.ts
  apps/financial-data/src/app/modules/informations-supplementaires/services/informations-supplementaires.service.ts
  apps/financial-data/src/app/modules/informations-supplementaires/services/informations-supplementaires.viewservice.ts
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

[HOTFIX] export csv papaparse + domaine fonctionnel
  apps/financial-data/src/app/models/financial/financial-data.models.ts
  apps/financial-data/src/app/services/budget.service.ts
  package-lock.json
  package.json
Due: build angular financial data app, docker-image-financial, deploy-integ-financial-snapshot

Path conditions:
  build angular financial data app: any of: apps/financial-data/**/*
  build angular francerelance app: any of: apps/france-relance/**/*
  docker-image-financial: any of: apps/financial-data/**/*
  docker-image-francerelance: any of: apps/france-relance/**/*
  deploy-integ-financial-snapshot: any of: apps/financial-data/**/*
  deploy-integ-francerelance-snapshot: any of: apps/france-relance/**/*
  run-tests-e2e: any of: apps/e2e/**/*
